@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  background-color: rgb(224, 219, 215) !important;
    font-family: 'Roboto Slab', serif !important;
}

#content{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 100px;
  color: rgb(26, 37, 12) !important;
}

#logo {
  margin-right: 10px;
}

#navigation{
  color: rgb(134, 110, 82) !important;
}

.navbar-default{
  background-color: rgb(141, 166, 112);
  border: 0;
  color: rgb(134, 110, 82) !important;
}

.personalfoto{
    margin-top: 2%;
    margin-bottom: 2%;
 }

 .heading{
   margin-top: 2%;
   text-align: center;
 }

 .link{
   text-align: center;
   list-style-type: none;
 }

 a, a:link, a:visited, a:hover, a:active {
   color: #000000;
     text-decoration: none;
 }

 .beer-slider {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.patrick, .lars, .michele {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

h1 {
  margin-top: 8%;
  color: rgb(134, 110, 82) !important;
  text-align: center;
}

.video-wrapper {
    width: 100%;
    text-align: center;
}

.video {
    width: 560px;
    height: 315px;
    overflow-y: hidden;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (max-device-width : 480px){
    .mobileShow {display: inherit;}
    .desktopShow {display: none;}
    .video{width: 300px; height: 170px;}
}
