html{
  scroll-behavior: smooth;
  font-family: Montserrat;
}

body{
  width: 100%;
  background-color: rgb(194, 185, 176, 0.5) !important;
  font-family: Montserrat;
}

#content{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 100px;
  color: rgb(26, 37, 12) !important;
}

#logo {
  margin-right: 10px;
}

#navigation{
  color: rgb(134, 110, 82) !important;
  font-family: Montserrat;
}

.navbar-default{
  background-color: rgb(141, 166, 112, 1);
  border: 0;
  color: rgb(134, 110, 82) !important;
  font-family: Montserrat;
}

.personalfoto{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Montserrat;
 }

 .heading{
   margin-top: 2%;
   font-family: Montserrat;
   text-align: center;
 }

 .link{
   color: black;
   font-family: Montserrat;
   text-align: center;
   list-style-type: none;
 }

 a {
   color: #ffffff;
   font-family: Montserrat;
 }

 a:hover {
   color: #ffffff;
   font-family: Montserrat;
 }

 .beer-slider {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.patrick, .lars, .michele {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

h1 {
  margin-top: 8%;
  color: rgb(134, 110, 82) !important;
  font-family: Montserrat;
  text-align: center;
}

.video {
    width: 560px;
    height: 315px;
    overflow-y: hidden;
    align-items: center;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (max-device-width : 480px){
    .mobileShow {display: inherit;}
    .desktopShow {display: none;}
    .video{width: 300px; height: 170px;}
}
